@inherits LayoutComponentBase
<div class="page">
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
